<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	

<div class="container-fluid" layout:fragment="corpo" >

        
		      
		<form>
		  <div class="panel-heading">Dados da Carga</div>
		    <div class="panel-body">
		  <div class="form-row">
		      <div class="form-group col-md-6">
			  <label> Data carga </label>
		      <input type="date" class="form-control" placeholder="Nome">
		    </div>
		        <div class="form-group col-md-6">
					  <label> Nome motorista </label>
		
		      <input type="text" class="form-control" placeholder="Nome motorista">
		    </div>
			    <div class="form-group col-md-6">
							  <label> Carreta </label>
		
		      <input type="text" class="form-control" placeholder="Carreta">
		    </div>
		 
		  </div>
		   </div>
		   
		   
		   
		   <!-- OBS -->
		    <div class="panel-heading">Dados Extas</div>
		    <div class="panel-body">
		  <div class="form-row">
		      <div class="form-group col-md-12">
			  <label> Observação </label>
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		    </div>
		        
		 
		  </div>
		   </div>
		   
		<button type="button" class="btn btn-success">Salvar</button>
		</form>
		
		<br/><br/>
			<form>
		  <div class="panel-heading">Cadastro de Volumes</div>
		    <div class="panel-body">
		  <div class="form-row">
		      <div class="form-group col-md-6">
			  <label> Cliente </label>
		      <input type="text" class="form-control" placeholder="Nome do cliente">
		    </div>
		        <div class="form-group col-md-6">
					  <label> Quantidade Volume </label>
		
		      <input type="text" class="form-control" placeholder="quantidade volume">
		    </div>
			    <div class="form-group col-md-6">
							  <label> Local Volume </label>
		
		      <input type="text" class="form-control" placeholder="Local Volume">
		    </div>
		 
		  </div>
		   </div>
		   
		   
		   
		   <!-- OBS -->
		    <div class="panel-heading">Dados Extas</div>
		    <div class="panel-body">
		  <div class="form-row">
		      <div class="form-group col-md-12">
			  <label> Observação </label>
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		    </div>
		        
		 
		  </div>
		   </div>
		   
		<button type="button" class="btn btn-success">Salvar</button>
		</form>
		
		<br/><br/>
		        <div class="card shadow mb-4" style="padding-top: 15px;">
           
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Volumes</h6>
            
            </div>
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Cliente</th>
                      <th>Local do volume</th>
                      <th>Quantidade Volume</th>
                      <th>Observação</th>
                      <th>Ações</th>
                     
                    </tr>
                  </thead>
             
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                   <td>Edinburgh</td>
                   <td>Edinburgh</td>
                    </tr>
                    
                 
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <!-- Page Heading -->
      

        </div>

</body>


</html>