<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	

<div class="container-fluid" layout:fragment="corpo" >

        
		      
		<form>
		  <div class="panel-heading">Dados do Cliente</div>
		    <div class="panel-body">
		  <div class="form-row">
		      <div class="form-group col-md-6">
			  <label> Nome </label>
		      <input type="text" class="form-control" placeholder="Nome">
		    </div>
		        <div class="form-group col-md-6">
					  <label> Contato </label>
		
		      <input type="text" class="form-control" placeholder="Telefone">
		    </div>
			    <div class="form-group col-md-6">
							  <label> Contato </label>
		
		      <input type="text" class="form-control" placeholder="Telefone">
		    </div>
		       <div class="form-group col-md-6">
			   			  <label> E-Mail </label>
		
		      <input type="email" class="form-control" placeholder="Email">
		    </div>
			
		 
		  </div>
		   </div>
		   
		   
		   <!-- Endereco -->
		  <div class="panel-heading">Endereco</div>
		    <div class="panel-body">
		  <div class="form-row">
		      <div class="form-group col-md-4">
			  <label> Rua </label>
		      <input type="text" class="form-control" placeholder="Rua">
		    </div>
			  <div class="form-group col-md-2">
			  <label> Numero </label>
		      <input type="text" class="form-control" placeholder="Rua">
		    </div>
		        <div class="form-group col-md-6">
					  <label> Cidade </label>
		
		      <input type="text" class="form-control" placeholder="Cidade">
		    </div>
			    <div class="form-group col-md-6">
							  <label> CEP </label>
		
		      <input type="text" class="form-control" placeholder="CEP">
		    </div>
		       <div class="form-group col-md-6">
			   			  <label> Uf </label>
		
		      <input type="email" class="form-control" placeholder="UF">
		    </div>
			
		 
		  </div>
		   </div>
		   
		   
		   <!-- OBS -->
		    <div class="panel-heading">Dados Extas</div>
		    <div class="panel-body">
		  <div class="form-row">
		      <div class="form-group col-md-12">
			  <label> Observação </label>
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		    </div>
		        
		 
		  </div>
		   </div>
		   
		<button type="button" class="btn btn-success">Salvar</button>
		</form>
		


          <!-- Page Heading -->
      

        </div>

</body>


</html>